.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: blueviolet;
  color: white;
}

.product-create-link  a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.product-create-link  a:hover{
  color: greenyellow;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.register-btn {
  background-color: #38bdf8;
  padding: 6px 12px;
  border-radius: 5px;
}

.logout-btn {
  margin-left: 20px;
  padding: 6px 12px;
  border: none;
  background-color: #ef4444;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
