.product-form-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  max-width: 500px;
  margin: auto;
}

.product-form-container h3 {
  margin-bottom: 20px;
  color: #1e293b;
}

.product-form {
  display: flex;
  flex-direction: column;
}

.product-form input,
.product-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  margin-bottom: 1em;
}

.product-form textarea {
  resize: none;
  height: 80px;
}

.product-form .create-update-btn {
  padding: 12px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.product-form .create-update-btn:hover {
  background-color: #2563eb;
}

.all-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.image-preview {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-img-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(255, 0, 0, 0.8);
  border: none;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-description {
  margin: 0 1em;
}

.remove-img-btn:hover {
  background: rgba(255, 0, 0, 1);
}

.ck.ck-editor {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

/* errors */

.product-form .error {
  color: red;
  font-size: 14px;
  padding: 0 0em;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}
