.product-dashboard {
  padding: 40px;
  background-color: #f8fafc;
  min-height: 100vh;
}

.products-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  justify-content: space-between;
}

.products-list .product-card {
  height: 20rem;
}

.products-list .card-bottom {
  width: 90%;
  height: 40%;
  margin: auto;
}

.products-list .card-bottom .top-info {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.products-list .card-image-box {
  height: 60%;
}

.products-list .card-image-box img {
  width: 100%;
  height: 100%;
}

.products-list .product-card {
  width: 30%;
}

.products-header {
  margin-left: 1em;
}

.product-title {
  margin-bottom: 20px;
  color: #1e293b;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-5px);
}

.price {
  font-weight: bold;
  color: #3b82f6;
  margin-bottom: 8px;
}

.desc {
  font-size: 14px;
  color: #475569;
  margin-bottom: 15px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #059669;
}

.btns-warpper {
  margin-top: 0.6em;
  display: flex;
  justify-content: space-between  ;
}

.delete-btn {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1em;
}

.text-truncate {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 30%;
}

.view-product {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
